@import './colors.scss';
/*$base-color: #c6538c;*/

.footer-section{
    position: fixed;
    bottom: 0px;
    padding: 0 70px;
    width: 100%;
    background-color: #f8f9fa;
    height: 40px;
    text-align: center;
}